<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/javaScript/layui/css/layui.css">
</head>
<body class="layui-layout-body">

<div class="layui-row layui-col-space10">
    <!--  -->
    <div class="layui-col-xs6 layui-col-md12">
        <div class="grid-demo grid-demo-bg2 layui-bg-green">移动：6/12、桌面：12/12
        修改测试git</div>
    </div>
    <div class="layui-col-xs12 layui-col-md8">
        <div class="grid-demo grid-demo-bg1 layui-bg-green">移动：12/12、桌面：8/12</div>
    </div>
    <div class="layui-col-xs6 layui-col-md4">
        <div class="grid-demo layui-bg-green">移动：6/12、桌面：4/12</div>
    </div>
</div>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="/javaScript/layui/layui.all.js"></script>
<script>
    //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：

</script>
</body>
</html>